/*Learning notes: these are my study notes after the course exercises that outline what I learnt from the CSS code (what does it do) and would normally not be included in my code for projects*/

/*_________________________________________*/
/*Basic Set-up*/
/*_________________________________________*/

/*Learning note: gets rid of default margin and padding settings, and allows us to set our own, using border-box model; the asterix implies this rule to all elements */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Learning note: create your default style settings for your html doc from background color, to font attributes and text-rendering*/

html,
body {
    background-color: #fcfcfc;
    color:#555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering:optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.'; 
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*_________________________________________*/
/*Re-usable Components*/
/*_________________________________________*/

/*Learning note: this ensures the row class elements will not exceed 1140px (responsive designing for wider screens); the .row margin attribute shows how we centre text & is a shorthand for top-80px left-0 bottom-80px right-0. */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*Learning note: this ensures the row class elements will not exceed 1140px (responsive designing for wider screens)*/

.section-features,
.section-cities,
.section-steps,
.section-testimonials,
.section-form,
.section-plans {
    padding: 80px 0; 
}

.box{
    padding: 1%;
}

a:active,
a:hover {
    text-decoration: none;
    color: #cf6d17;
}

a:link,
a:visited {
    text-decoration: none;
    color: #e67e22;
    
}

/*Headings*/
/*_________________________________________*/

/*Learning note: group common attributes for different elements in one place (see below), this ensures no unnecessary repetition*/

h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}

/*Learning note: assign attributes for specific element like this*/

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fcfcfc;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/*Learning note: use the after feature to insert content using css. This will insert content after the element you select here, in this case a orange line after h2. NOTE: Always need to specify content, if none, just add a space like below*/

h2:after {
    display: block;
    height: 2px;
    background-color:#e67e22 ;
    content:" ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size:110%;
    margin-bottom: 15px;
}

/*Learning note: Ensure to label your css stylesheet for ease of scanability (especially for big projects where it can get really long)*/

/*Paragraphs*/
/*_________________________________________*/

.long-copy {
    line-height:145%;
    width: 70%;
    margin-left: 15%
}

/*Learning note: this is an example of how you can specify elements within other elements to give them specific attributes for the elements in that specific class ONLY.*/

.box p {
    font-size: 90%;
    line-height: 145%;
}


/*Icons*/
/*_________________________________________*/

/*Learning note: for htis project we saved icons as fonts (vector files) and here assigned the icons attributes like we would for fonts*/

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small{
    display: inline-block;
    color:#e67e22;
    font-size: 125%;
    text-align: center;
    width: 20px;
    margin-top: -4px;
    vertical-align: middle;
    margin-right: 10px;
}

/*Buttons*/
/*_________________________________________*/

/*Learning note: here we can set attributes for button in the link/hover/active/visited states, as well as style how they transition between the different states*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fcfcfc;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

/*Learning note: assign buttons a class that describes their appearance and/or function*/

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fcfcfc;
}

/*_________________________________________*/
/*Header*/
/*_________________________________________*/

/*Learning note: this is how we created the top nav bar*/

/*Nav-bar*/
/*_________________________________________*/

/*Learning note: we re-sized the logo proportionally by setting the height, and setting the width to auto for the specified height*/

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px 0;
}

/*Learning note: we created list items and floated them to the right, and made the logo float left*/

/*Main-nav*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display:inline-block;
    margin-left: 40px;
}

/*Learning note: styling the nav links*/

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fcfcfc;
    text-decoration: none;
    text-transform:uppercase;
    font-size:90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}


/*Mobile-nav*/

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font size: 800%;
    color: #fff;
}


/*Sticky-nav*/
.sticky {
    position: fixed;
    top: 0;
    left 0;
    width: 100%;
    background-color: rgba(252, 252, 252, 0.98);
    box-shadow: 0 2px 2px #ebebeb;
    z-index: 9999;
}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .main-nav {
    float: right;
    list-style: none;
    margin-top: 5px;
}

.sticky .logo {display:none;}
.sticky .logo-black {display: block;}




/*Header section*/
/*_________________________________________*/

/*Learning note: background image with solid colour overlay, and text on the image (hero-text-box)*/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*_________________________________________*/
/*Features section*/
/*_________________________________________*/

.section-features .long-copy {margin-bottom: 30px;}


/*_________________________________________*/
/*Meals section*/
/*_________________________________________*/

.section-meals {padding: 0;}

/*Learning note: creating a photo gallery (can also be made with captions, like in my portfolio website), using ul and li. Also added transitions and transform attributes for extra professional and cool styling features*/

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}


/*_________________________________________*/
/*How it works section*/
/*_________________________________________*/

/*Learning note: a new way to select an element to syle is say the number that it appears in the html- first-child, last-child, etc. (see below); check e-book for other selectors*/

.section-steps {background-color: #f4f4f4;}

.steps-box:first-child {
    text-align:right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 6%;
    margin-top: 70px;
}

.app-screen {width:40%;}

.works-step {margin-bottom: 50px;}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    width: 55px;
    height: 55px;
    text-align:center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.works-step:last-of-type {margin-bottom: 80px;}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/*_________________________________________*/
/*Cities section*/
/*_________________________________________*/

.section-cities {padding: 0;}

.city-feature {
    list-style: none;
    width: 100%;
}


.city-pic {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.city-pic img {
    display: inline-block;
    float: left;
    opacity: 0.7;
    width: 110%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.city-pic img:hover {
    opacity: 1;
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.city h3 {
    padding-top: 20px;
    padding-left: 20px;
}

.city-feature {padding-left: 20px;}

.city-feature li{
    padding-bottom: 2%;
    line-height: 145%;
}

.city-feature i {
    display: inline-block;
    color:#e67e22;
    font-size: 125%;
    text-align: center;
    width: 30px;
    margin-top: -4px;
    vertical-align: middle;
    margin-right: 10px;
}

.city li a:link,
.city li a:visited{
    text-decoration: none;
    color:#555;
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(255, 165, 0, 0.32);
    -webkit-transition: color 0.5s, border-bottom 0.5s;
    transition: color 0.5s, border-bottom 0.5s;
}

.city li a:active,
.city li a:hover{
    color:#cf6d17;
    border-bottom: 1px solid #cf6d17;
}

/*_________________________________________*/
/*Testimonials section*/
/*_________________________________________*/

.section-testimonials {
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/back-customers.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
    color: #fcfcfc
}


blockquote {
    padding: 2%;
    font-style: italic;
    line-height:145%;
    position: relative;
    margin-top: 40px
}

blockquote:before{
    content:"\201C";
    font-size:500%;
    display: block;
    position: absolute;
    top:-5px;
    left:-5px;
}

cite{
    display: block;
    font-size: 90%;
    margin-top:25px;
}

cite img{
    height:40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*_________________________________________*/
/*Sign Up*/
/*_________________________________________*/


.section-plans {background-color: #f4f4f4;}

.plan-box{
    background-color: #fcfcfc;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 5%;
    -webkit-box-shadow: 0 2px 2px #ededed;
    box-shadow: 0 2px 2px #ededed
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight:100;
    color: #e67e22;
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

plan-price-meal{font-size: 50%;}

.plan-box ul{list-style: none;}

.plan-box ul li{padding: 5px 0;}

.plan-box div:first-child {
    background-color: #f8f8f8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border:0;
}



/*_________________________________________*/
/*Contact Form*/
/*_________________________________________*/

.contact-form{
    width:60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea{height: 100px}

input[type=checkbox]{margin: 10px 5px 10px 0;}

*:focus {outline:none}


/*_________________________________________*/
/*Footer*/
/*_________________________________________*/

footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float:left;
}

.social-links {
    list-style: none;
    float: right;
}


.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.socia-links li:last-child {margin-right: 0;}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #ddd;
}


.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s
}


.ion-social-facebook:hover {color: #3b5998;}


.ion-social-twitter:hover {color: #55acee;}


.ion-social-googleplus:hover {color: #dd4b39;}


.ion-social-instagram:hover {color: #fccc63;}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}



/*____Animations____________________*/

/*_________________________________________*/


.js--wp-1 {
    opacity: 0;
}

.js--wp-1.animated {
    opacity: 1;
}


.js--wp-2 {
    opacity: 0;
}

.js--wp-2.animated {
    opacity: 1;
}

.js--wp-3 {
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-3.animated {
    opacity: 1;
}

.js--wp-3 {animation-duration: 1s;}

/*_________________________________________*/

/*_________________________________________*/
/*Orange color #e67e22 Dark orange #cf6d17


Secrets to align text and icons

1. Set a negative margin to the top of the icons
margin-top: -2px

2. Increase the line-height of the icons to 120%
line-height: 120%

3. Vertical align the icons
vertical-align: middle;


*/
/*_________________________________________*/



